<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!--IMPORTANT: Make sure you add the configSections node to your config file so that the rest of the config file is picked by the application-->
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <connectionStrings>
    <add name="GroupProjectConnectionString" connectionString="Data Source=lab4dbinstance.cnbogfsrwo2v.us-east-1.rds.amazonaws.com;Initial Catalog=FinalProject;Persist Security Info=True;User ID=lab4user;Password=lab4master" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <paypal>
    <settings>

      <add name="clientId" value="AbhrhMvUZI7-6ruj22BP3thyhsK-R1wfqHa_6uN_h-0DQsR_ONrCIluxQUZktM6kXmVCs_hsGmEDkBOX"/>
      <add name="clientSecret" value="EJgdZREQd3UB6I3qDX0Lan2pVuR6wBK_5M5qA41M8AuUqdb-BiXf6a1X-WVL1mCQKWx6U2K1TQG5msQS"/>
    </settings>
  </paypal>
  <!-- Web.Config Configuration File -->
  <system.web>
    <customErrors mode="Off"/>
  </system.web>

</configuration>